:root {
    --primary-color: #a92cfb;
    --secondary-color: #1A1A1B;
}


* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    background-color: var(--secondary-color);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    position: fixed;
    /* justify-content: flex-end; */
    z-index: 9;
    margin: 0;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 30px;
}

#home-btn {
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    border: none;
    background-color: var(--primary-color);
    left: 0;
    position: absolute;
    margin-left: 60px;
    top:0;
    height: 100%;
}

#search-btn {
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    border: none;
    background-color: var(--primary-color);
    top: 0;
    height: 100%;
    position: absolute;
    margin-right: 40px;
    right: 0;
    padding: 1px;
}
#search-btn:hover,#home-btn:hover{
    color: #fff;
}
#search-bar {
    background-color: transparent;
    margin-right: 120px;
    right: 0;
    position: absolute;
    color: rgba(255, 255, 255, 0.493);
    padding: 0.5rem 1rem;
    height: 30px;
    width: fit-content;
    font-size: 1rem;
    border-radius: 15px;
    top: 25%;
    border: 3px solid var(--secondary-color);
}
#search-bar:focus{
    background-color:var(--secondary-color) ;
}
#next-page, #previous-page,#next-page-search,#previous-page-search {

    background-color: var(--primary-color);
    border-style: dashed;
    border-radius: 5px;
    z-index: 4;
    position: relative;
    bottom: 0;
    color: white;
    padding: 8px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 10px;
    font-size: 18px;
    width: 100px;
}

#next-page:hover, #previous-page:hover {
    filter: brightness(50%);
}

main {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    text-align: center;
    justify-content: center;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.movie-info span {
    border-radius: 5px;
    padding: .25rem .5rem;
    box-shadow: 0 3px 12px rgb(0, 0, 0);
}

.movie {
    width: 330px;
    margin: 1rem;
    background-color: var(--primary-color);
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    ;

}

.movie-info {
    color: #eee;
    border-radius: 5px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    ;
}

.movie-info h3 {
    background-color: inherit;
    font-size: 20px;
}

#movie-img {
    width: 100%;
    height: 90%;
}

.overview h3 {
    background-color: var(--secondary-color);
    text-decoration: underline;
}

.overview {
    font-size: 17px;
    opacity: .9;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.2s ease-in;
}

.movie:hover #movie-img{
    filter: blur(1px);
}
.movie:hover .overview {
    transform: translateY(0);
}


#movie-list {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto auto;
}